<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href="css/partials/header.css">
    <script src="https://kit.fontawesome.com/fe867c4cb9.js" crossorigin="anonymous"></script>
  <title>Inventario</title>
  </head>
<body>
    <nav class="navbar bg-light menu-offcanvas">
      <div class="container-fluid ">        
        <div class="button-toggler-parent">
          <button class="navbar-toggler open-offcanvas" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/inventory">Inventario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shop-list">Lista de compras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add-article">Añadir artículo</a>
              </li>
              <li class="nav-item">
                <form action="/logout" method="post">
                  <button type="submit" class="nav-link">Cerrar sesión</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>