<%- include("partials/header.ejs") %>

<div class="table-responsive-xs container-fluid">
    <h1>Lista de compras</h1>
    <table class="table table-hover table-bordered">
        
        <thead class="table-header table-info">
            <td>Producto</td>
            <td>Stock</td>
            <td>Hace falta comprar?</td>
        </thead>
        
        <tbody class="table-body">

            <% for( let i = 0; i < 33; i++ ) { %><%# TODO: cambiar el 33 por el n° de lo que hay que comprar, proporcionada por el server (app.js) %>
                <%# TODO: cambiar la info de las celdas, proporcionada por el server (app.js) %>
                <tr>
                    <td>Mana</td>
                    <td>32</td>
                    <td>No hay que comprar</td>
                </tr>

                <% } %>
        </tbody>  
    
    </table>
</div>

<%- include("partials/footer.ejs") %>